<!DOCTYPE html>
<html>

<head>
	<title>Low Jia Yee | Personal Website</title>
	<link rel="stylesheet" href="static/design.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<nav class="nav-bar">
		<a class="nav-item" href="index.html">Low Jia Yee</a>
		<a class="nav-item" href="resume.html">Resume</a>
		<a class="nav-item" href="https://github.com/lowjiayee">
			<img src="/static/img/github-svgrepo-com.svg" height="30" width="30">
		</a>
		<a class="nav-item" href="https://www.linkedin.com/in/lowjiayee/">
			<img src="/static/img/linkedin-svgrepo-com.svg" height="30" width="30">
		</a>
	</nav>

	<div class="centered">
		<h1>Low Jia Yee</h1>
		<p>
			A passionate coder who specialises in information security.
		</p>
	</div>
</body>

</html>
