<!DOCTYPE html>
<html>

<head>
	<title>Low Jia Yee | Résumé</title>
	<link rel="stylesheet" href="static/design.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<nav class="nav-bar border">
		<a class="nav-item" href="/">Low Jia Yee</a>
		<a class="nav-item" href="resume.html">Résumé</a>
		<a class="nav-item" href="https://github.com/lowjiayee">
			<img src="/static/img/github-svgrepo-com.svg" height="30" width="30">
		</a>
		<a class="nav-item" href="https://www.linkedin.com/in/lowjiayee/">
			<img src="/static/img/linkedin-svgrepo-com.svg" height="30" width="30">
		</a>
	</nav>

	<div class="main">
		<p><h1>Résumé</h1></p>
		<p><h2>Projects</h2></p>
		<p>
			<ul>
				<li>
					Angery - Anger Management Website.
					<a href="https://hackroll2020.web.app/">link</a>
				</li>
				<li>
					NUSExchange – historical Student Exchange Programme (SEP) module mappings.
					<a href="https://nusteammate.pythonanywhere.com">link</a>
				</li>
				<li>
					Transfer Learning on recognising monkey species.
					<a href="https://drive.google.com/open?id=18ubjvM-mKHJFpG-OsXF8btNL7oseFQCy">link</a>
				</li>
				<li>
					Mandarin – English Translation Model.
					<a href="https://drive.google.com/open?id=1R-O-3ih0MyL3ModlwoYx6Yg8AnLHc4jF">link</a>
				</li>
			</ul>
		</p>
	</div>
</body>

<footer>
	<nav class="nav-bar border" style="justify-content: center">
		<a class="nav-item" href="https://drive.google.com/open?id=19e65rGWv0jTz21whq9KezNADG7JOY4jQ">
			<img src="/static/img/microsoft-word-svgrepo-com.svg" height="30" width="30">
		</a>
	</nav>
</footer>

</html>
